/* MOBILE FIRST */


main {
    background-color: #A3A7BF;
}

@media (max-width: 800px){

/* TOP SEKTION */

#section_hero_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

#section_hero_1-1-1 h1{
    grid-row: 1;
    padding: 30% 0% 20% 5%;
}

#logo{
    grid-column: 2;
}

#headline{
    grid-column: span 2;
}

/* PORTFOLIO */


#div_projects_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

#project_link_3{
    grid-row: 2;
}
#project_link_4{
    grid-row: 2;
}

}

/* TOP SEKTION */

#section_hero_1-1-1{
    background-color: #A3A7BF;
}


#logo img{
    width: 80%;
    height: 80%;
}

#cut_headline{
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: headlineBlur 4s ease-in ;
}
@keyframes headlineBlur {
    from{
        transform: scale(0.5);
        opacity: 0%;
    }
    to{
        transform: scale(1);
        opacity: 100%
    }
}

#cut_headline h1{
text-align: end;
margin: 0;
padding: 0;
}


#p_folio{
    font-family: 'italianno';
    font-size: 70px;
    font-style: italic;
    letter-spacing: 10%;
    margin: 0.1em 0em 0em 0em;
}

#intro_text{
    font-style: italic;
}

/* PORTFOLIO */

#section_front_projects{
    background-color: #F2EADF;
    padding: 1em 1em 4em 1em;
}

#section_front_projects h3{
    text-align: center;
    color: #000000;
    padding-top: 1em;
}

#section_front_projects p{
    text-align: center;
    color: #000000;
    letter-spacing: 5%;
    padding-bottom: 2em;
}

#div_projects_1-1-1-1{
    margin-bottom: 4em;
}

#div_projects_1-1-1-1 img{
    width: 100%;
    height: 100%;
    opacity: 100%;
}

#div_projects_1-1-1-1 img:hover{
    opacity: 30%;
    
}

#project_link_1{
    max-width: 70%;
    padding: 2em 1em 2em 2em;
}
#project_link_2{
    max-width: 80%;
    padding: 1em 0em 0em 1em;
}
#project_link_3{
    max-width: 80%;
    padding: 1em 0em 0em 1em;
}


#port_btn{
    background-color: #ffffff;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
}
#port_btn:hover{
    background-color: #000000;
    color: #ffffff;
}

/* OM MIG SEKTION */

#section_om_mig_1-1-1 img{
    margin-bottom: 4em;
    border: 1.5px solid black;
}

#section_om_mig_1-1-1{
    padding: 3em 2em 4em 2em;
    background-color: #DBE2F5;
}

#section_om_mig_1-1-1 div{
    margin: 0em 2em 0em 2em;
}

#section_om_mig_1-1-1 div p{
    margin-bottom: 2em;
}

#section_om_mig_1-1-1 a{
    background-color: #000000;
    color: #ffffff;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    align-self: baseline;
}

#section_om_mig_1-1-1 a:hover{
    background-color: #ffffff;
    color: #000000;
}

/* DESKTOP VERSION */

@media (min-width: 800px){

    h3{
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }
/* TOP SEKTiON */

#section_hero_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#section_hero_1-1-1 h2 {
    grid-row: 1;
    padding: 50% 0% 5% 40%;
    font-size: 30px;
}

#logo {
    grid-column: 3;
}

#headline{
    grid-column: span 2;
    margin-left: 8em;
}

#cut_headline h1{
    font-size: 150px;
    margin: 0;
}

#p_folio{
    font-size: 160px;
    padding-top: 15px;
    margin: 0em 0em 0em 0em;
}

#headline h2{
    padding-left: 4em;
    letter-spacing: 15%;
}

#intro_text{
    margin-left: 6em;
    margin-bottom: 5em;
}

/* PORTFOLIO */

#div_projects_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    margin: 1em 5em 3em 5em;
}

#section_front_projects{
    padding: 1em 1em 6em 1em;
}

#section_front_projects h3{
    font-weight: bold;
}
#section_front_projects p{
    letter-spacing: 10%;
}

#port_btn{
    margin-top: 2em;
}

/* OM MIG */

#section_om_mig_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    padding: 4em 10em 4em 10em;
}

#section_om_mig_1-1-1 :first-child{
    grid-column: span 2;
}

#section_om_mig_1-1-1 a{
    grid-column: 1;
    text-align: center;
    border-radius: 10px;
}

#section_om_mig_1-1-1 img{
    width: 500px;
    height: auto;
    grid-column: 3;
    grid-row: span 2;
    margin-top: 4em;
}

#section_om_mig_1-1-1 p{
    padding: 0em 5em 0em 2em;
}

}

@media (min-width: 800px) and (max-width: 1100px){
    #section_om_mig_1-1-1{
        padding: 2em;
    }
}