/* MOBILE FIRST */

#section_erfaring_1-1,
#første_sem,
#section_om_mig{
    border-top: 1px solid black;

}

#section_erfaring_1-1{
    margin: 0em 2em 2em 2em;
}

/* TOP SEKTION */

.section_top_port_mig_1-1-1{
    background-color: #A3A7BF;
}

.section_top_port_mig_1-1-1 h1{
    font-size: 70px;
    padding-top: 1em;
    text-align: center;
}

.section_top_port_mig_1-1-1 p{
    text-align: center;
    padding: 0em 2em 0em 2em;
    font-style: italic;
}

.section_top_port_mig_1-1-1 img{
    max-width: 80%;
    border: 1.5px solid black;
}

/* ERFARING */

#section_erfaring_1-1 h3{
    margin: 1em;
}

#section_erfaring_1-1 li{
    padding: 15px;
}

#section_erfaring_1-1 div{
    margin-top: 2em;
}




/* 1. SEMESTER */

#første_sem p{
    padding: 5px 10px 2px 15px;
}

/* DIALOG */

#open_btn{
    margin-left: 10%;
    margin-top: 2em;
    background-color: #C8A0BE;
    border:none;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

#open_btn:hover{
    color: white;
    background-color: #A57D9B;
    cursor: pointer;
}

#close_btn{
    margin-left: 10%;
    margin-top: 2em;
    background-color: #C8A0BE;
    border: none;
    border-radius: 10px;
    padding: 10px 4em 10px 4em;
    margin: 0% 30% 20% 30%;
}

#close_btn:hover{
    color: white;
    background-color: #A57D9B;
    cursor: pointer;
}

#tools h3{
    text-align: start;
    margin-left: 2em;
}
#tools h4{
    text-align: start;
    font-style: italic;
}

#tools p{
    font-weight: bold;
    padding: 3px 0px 2px 0px;
}

#tools {
    padding: 0em 5em 0em 5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: #F2EADF;
    width: 20%;
}

dialog::backdrop{
    backdrop-filter: blur(5px);
  }

#tools div{
    text-align: start;
    line-height: 1px;
    padding: 0.5em;
}

@keyframes fadeIn {
    from {
    opacity: 0%;
    }
    to{
    opacity: 100%;
    }
    }
    
    #tools{
      animation: fadeIn 1.5s ease-in;
    }

/* OM MIG */

#section_om_mig{
    padding: 2em;
}

#div_om_mig_1-2 h3{
    text-align: center;
}

#div_om_mig_1-2 p{
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

#div_om_mig_1-2 img{
    border: 1.5px solid black;
}

#section_om_mig a{
    background-color: #000000;
    color: #F2EADF;
    border: 2px solid black;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
}

#section_om_mig a:hover{
    background-color: #ffffff;
    color: #000000;
}

#knap{
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){

    h1{
        margin: 0em 0em 1em 0em;
    }

    .section_top_port_mig_1-1-1 img{
    margin: 3em;
}

    #div_om_mig_1-2 img{
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
}

#første_sem{
    padding-top: 1em;
}

#section_om_mig{
    padding-bottom: 4em;
}

#tools{
    width: 60%;
    padding: 0em 1em 0em 1em;
}

}


/* DESKTOP VERSION */

@media (min-width: 800px){

    /* TOP SEKTION*/

    .section_top_port_mig_1-1-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 4em;
    }

    .section_top_port_mig_1-1-1 img{
        grid-column: 3;
        margin: 4em 4em 2em 0em;
    }

    .section_top_port_mig_1-1-1 div{
        grid-column: span 2;
    }

    .section_top_port_mig_1-1-1 div h1{
        text-align: left;
        margin-left: 2em;
    }

    .section_top_port_mig_1-1-1 div p{
        padding: 0em 4em 0em 4em;
        text-align: left;
        margin: 2em;
    }

    /* ERFARING OG 1. SEM */

    #section_erfaring_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8em;
        padding: 1em;
        margin: 0em 5em 0em 5em;
    }

    #section_erfaring_1-1 li{
        font-size: 20px;
    }

    #første_sem{
        border-top: none;
        text-align: end;
    }


    /* OM MIG */


    #section_om_mig{
        padding: 5em 5em 7em 5em;
        margin: 1em 5em 0em 5em;
    }

    #div_om_mig_1-2{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5em;
    }

    #div_om_mig_1-2 img{
        grid-column: 1;
        grid-row: 1;
        
    }

    #div_om_mig_1-2 div{
        grid-column: 2;
    }

    #div_om_mig_1-2 h3{
        text-align: right;
    }

    #div_om_mig_1-2 p{
        text-align: right;
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    #section_erfaring_1-1{
        column-gap: 2em;
    }
    #første_sem {
        text-align: left;
    }
    #section_om_mig{
        padding: 3em 1em;
        margin: 1em 1em 0em 1em;
    }
}