/* MOBILE FIRST */

main{
    padding: 2em;
    background-color: #D9C5CC;
}


@media (max-width: 800px){

    .section_top_undersider h1{
        font-size: 30px;
        text-align: center;
    }
    
    .section_top_undersider h2{
        text-align: center;
        margin-bottom: 2em;
        font-size: 24px;
    }
    
    .section_top_undersider img{
        max-width: 70%;
        margin-left: 15%;
        margin-bottom: 2em;
    }
    
    .section_top_undersider p{
        padding: 1em 3em 1em 3em;
    }

    .images{
        margin: 1em;
    }

    .images img{
        padding: 2em;
    }

    .div_cta_grid_1-1{
        flex-direction: column;
        row-gap: 1em;
    }
}
/* TOP SEKTION */

.section_top_undersider{
    margin-bottom: 2em;
}

/* IMAGE SEKTION */

.images img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}


/* PROCES SEKTION */

.section_proces{
    border-top: 1px solid black;
    margin: 1em;
}

h3{
    margin-bottom: 1em;
    margin-top: 3em;
}

.proces_grid_1-1-1{
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.div_cta_grid_1-1{
    margin: 3em 0em 3em 0em;
    display: flex;
    justify-content: center;
}

.div_cta_grid_1-1 a{
    background-color: #000000;
    color: #Ffffff;
    border: 2px solid black;
    padding: 12px 25px 12px 25px;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    text-align: center;
}

.div_cta_grid_1-1 a:hover{
    background-color: #ffffff;
    color: #000000;
}

.div_cta_grid_1-1-1-1-1 a:hover{
    background-color: #ffffff;
    color: #000000;
}

.div_cta_grid_1-1-1-1-1{
    padding-top: 1em;
}

.div_cta_grid_1-1-1-1-1 a{
    background-color: #000000;
    color: #Ffffff;
    padding: 12px 25px 12px 25px;
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
}

/* DESKTOP VERSION */

@media (min-width: 800px){

    /* TOP SEKTION */

    h1{
        margin: 2em 0em 0.5em 1em
    }

    h2{
        font-size: 30px;
        padding-left: 35%;
        margin: 0em 4em 0em 0em;
    }

    .div_grid_1-1-1-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3em;
        margin: 1em 8em 4em 8em;
    }

    .paragraph{
        grid-column: span 2;
        padding: 10% 5% 5% 10%;
    }

    /* IMAGES */

    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        border-top: 1px solid black;
        padding: 3em 4em 3em 4em;
        margin: 0em 2em 0em 2em;
    }

    .images img{
        width: 100%;
        height: 100%;
    }

    /* PROCES SEKTION */


.section_proces{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
    margin: 0em 2em 0em 2em;
    padding: 1em 4em 1em 4em;
}
}

@media (min-width: 800px) and (max-width: 900px){
    .section_proces{
        padding: 1em 1em 1em 1em;
    }

    .images{
        padding: 3em 1em 3em 1em;
    }

    .div_grid_1-1-1-1{
        margin: 1em 4em 4em 4em;
    }

}